data:
  raw_path: data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv
  target_col: Churn
  test_size: 0.2
  random_state: 42

features:
  numeric:
    - tenure
    - MonthlyCharges
    - TotalCharges

  categorical:
    - gender
    - SeniorCitizen
    - Partner
    - Dependents
    - PhoneService
    - MultipleLines
    - InternetService
    - Contract
    - PaymentMethod

model:
  name: logistic_regression
  params:
    max_iter: 1000
